@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.clock {
  width: 100%;
  text-align: center;
  font-size: 9rem;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 5px #7b7b7a;
}

.screen {
  width: 100%;
  height: 100%;
}

.message-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

#message {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10%;
}

/* TODO: Style simon-option to animate the transition in background. 
         as well as making it look more like the sketch for the slick 
         version. 
         
         Use: transition - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
              linear-gradient - https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient()
                                https://cssgradient.io/
              opacity might come usefull too. - https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
 */
.simon-options {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.simon-options.up-down {
  display: flex;
  flex-direction: column;
}

.simon-options.up-down .simon-option {
  width: 100%;
  height: 0;
  opacity: 0;
  transition: height 80ms ease-in;
}

.simon-options.left-right .simon-option {
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 80ms ease-in;
}

.simon-options.up-down .simon-option.active {
  height: 16rem;
  opacity: 1;
}

.simon-options.left-right .simon-option.active {
  width: 16rem;
  opacity: 1;
}

.down.active {
  background: rgb(111, 33, 231);
  background: linear-gradient(
    0deg,
    rgba(111, 33, 231, 0.8223622212556898) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.left.active {
  background: rgb(242, 186, 36);
  background: linear-gradient(
    90deg,
    rgba(242, 186, 36, 0.8223622212556898) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.right.active {
  background: rgb(231, 33, 204);
  background: linear-gradient(
    270deg,
    rgba(231, 33, 204, 0.8223622212556898) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.up.active {
  background: rgb(33, 112, 231);
  background: linear-gradient(
    180deg,
    rgba(33, 112, 231, 0.8223622212556898) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.simon-options.up-down .simon-option.incorrect-attempt {
  width: 80%;
  height: 5rem;
  opacity: 1;
}

.simon-options.left-right .simon-option.incorrect-attempt {
  width: 5rem;
  height: 80%;
  opacity: 1;
}

.content-cont.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.pw-enabled {
  content: "password enabled";
  background-color: green;
}

.pw-disabled {
  content: "pattern enabled";
  background-color: red;
}

#toggle-pw {
  cursor: pointer;
  height: 7rem;
  width: 70%;
  border-radius: 100px;
  border: none;
  box-shadow: 2px 2px 5px #7b7b7a;
  background-color: rgba(255, 255, 255, 0.623);
}

.content-cont {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}

button#getPermision {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #000;
  font-size: 3rem;
  opacity: 0.67;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.wallpaper {
  background-image: url("https://wallpapercave.com/wp/wp3632029.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

/* TODO: Style main-screen */
