@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.clock {
  width: 100%;
  text-align: center;
  font-size: 9rem;
  margin-top: 40px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.screen {
  width: 100%;
  height: 100%;
}

.message-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO: Style simon-option to animate the transition in background. 
         as well as making it look more like the sketch for the slick 
         version. 
         
         Use: transition - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
              linear-gradient - https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient()
                                https://cssgradient.io/
              opacity might come usefull too. - https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
 */
.simon-options {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.simon-options.up-down {
  display: flex;
  flex-direction: column;
}

.simon-options.up-down .simon-option {
  width: 80%;
  height: 30px;
}

.simon-options.left-right .simon-option {
  height: 80%;
  width: 30px;
}

.down.active {
  background: rgb(111, 33, 231);
  background: linear-gradient(
    0deg,
    rgba(111, 33, 231, 0.8223622212556898) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.left.active {
  background: rgb(242, 186, 36);
  background: linear-gradient(
    90deg,
    rgba(242, 186, 36, 0.8223622212556898) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.right.active {
  background: rgb(231, 33, 204);
  background: linear-gradient(
    270deg,
    rgba(231, 33, 204, 0.8223622212556898) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.up.active {
  background: rgb(33, 112, 231);
  background: linear-gradient(
    180deg,
    rgba(33, 112, 231, 0.8223622212556898) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.incorrect-attempt {
  background: rgb(255, 16, 16);
  background: linear-gradient(
    270deg,
    rgba(255, 16, 16, 0.9568160027682948) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.pw-enabled {
  content: "password enabled";
}

.pw-disabled {
  content: "pattern enabled";
}

#toggle-pw {
  cursor: pointer;
  height: 5rem;
  width: 10rem;
  border-radius: 5px;
  margin-top: 3%;
  border: none;
}

.content-cont {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border: 2px solid black;
  
}

button#getPermision {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #000;
  font-size: 3rem;
  opacity: 0.67;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.wallpaper {
  background-image: url("https://wallpaperaccess.com/full/388275.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.wallpaper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TODO: Style main-screen */
