@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.clock {
  width: 100%;
  text-align: center;
  font-size: 6rem;
  margin-top: 40px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #7b7b7a;
}

.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.message-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10%;
}

/* TODO: Style simon-option to animate the transition in background. 
         as well as making it look more like the sketch for the slick 
         version. 
         
         Use: transition - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
              linear-gradient - https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient()
                                https://cssgradient.io/
              opacity might come usefull too. - https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
 */
.simon-options {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.simon-options.up-down {
  display: flex;
  flex-direction: column;
}

.simon-options.up-down .simon-option {
  width: 100%;
  height: 0rem;
  transition: height 80ms;
}

.simon-options.left-right .simon-option {
  height: 100%;
  width: 0rem;
  transition: width 80ms;
}

.simon-options.up-down .simon-option.active {
  height: 6rem;
  transition: height 80ms;
}

.simon-options.left-right .simon-option.active {
  width: 6rem;
  transition: width 80ms;
}

.down {
  background: rgb(111, 33, 231);
  background: radial-gradient(
    100% 100% at bottom,
    rgba(111, 33, 231, 1) 0%,
    rgba(111, 33, 231, 1) 40%,
    rgba(111, 33, 231, 0.3) 80%,
    rgba(111, 33, 231, 0) 100%
  );
}

.left {
  background: rgb(242, 186, 36);
  background: radial-gradient(
    100% 100% at left,
    rgba(242, 186, 36, 1) 0%,
    rgba(242, 186, 36, 1) 40%,
    rgba(242, 186, 36, 0.3) 80%,
    rgba(242, 186, 36, 0) 100%
  );
}

.right {
  background: rgb(231, 33, 204);
  background: radial-gradient(
    100% 100% at right,
    rgba(231, 33, 204, 1) 0%,
    rgba(231, 33, 204, 1) 40%,
    rgba(231, 33, 204, 0.3) 80%,
    rgba(231, 33, 204, 0) 100%
  );
}

.up {
  background: rgb(33, 152, 231);
  background: radial-gradient(
    100% 100% at top,
    rgba(33, 152, 231, 1) 0%,
    rgba(33, 152, 231, 1) 40%,
    rgba(33, 152, 231, 0.3) 80%,
    rgba(33, 152, 231, 0) 100%
  );
}

.simon-options.up-down .simon-option.incorrect-attempt {
  width: 80%;
  height: 5rem;
  opacity: 1;
}

.simon-options.left-right .simon-option.incorrect-attempt {
  width: 5rem;
  height: 80%;
  opacity: 1;
}

.content-cont.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border: none;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

button.action {
  cursor: pointer;
  height: 7rem;
  width: 70%;
  border-radius: 100px;
  border: none;
  box-shadow: 2px 2px 5px #7b7b7a;
  background-color: rgba(255, 255, 255, 0.623);
  font-size: 3.4rem;
}

button {
  z-index: 10;
}

.content-cont {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 15vh;
}

button#getPermision {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #000;
  font-size: 3rem;
  opacity: 0.67;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.wallpaper {
  background-image: url("https://wallpapercave.com/wp/wp3632029.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

#replayPattern {
  transition: opacity 0.3s; /* Transition should take 0.3s */
  -webkit-transition: opacity 0.3s; /* Transition should take 0.3s */
  opacity: 1; /* Set opacity to 1 */
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
}

#replayPattern.disabled {
  cursor: default;
  transition: opacity 0.3s; /* Transition should take 0.3s */
  -webkit-transition: opacity 0.3s; /* Transition should take 0.3s */
  opacity: 0.3; /* Set opacity to 1 */
}

.replay-animation {
  -webkit-animation: rotating 2s linear infinite;
}

.pw-toggle-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pw-toggle-wrapper p {
  font-size: 2.3rem;
  color: #fff;
}

.pw-toggle-wrapper button {
  width: 60px;
  height: 60px;
  margin-left: 40px;
  border-radius: 40px;
  background-color: #00000078;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.pw-toggle-wrapper button.off {
  -webkit-box-shadow: 0px 0px 11px 0px #000000;
  box-shadow: 0px 0px 11px 0px #000000;
}

.pw-toggle-wrapper button.on {
  background-color: rgb(37, 100, 235);
  -webkit-box-shadow: inset 0px 0px 11px 0px #000000;
  box-shadow: inset 0px 0px 11px 0px #000000;
}

button#changePassword {
  transition: opacity 0.3s; /* Transition should take 0.3s */
  -webkit-transition: opacity 0.3s; /* Transition should take 0.3s */
  opacity: 1; /* Set opacity to 1 */
  font-size: 2.3rem;
  margin: 0;
  width: 100%;
  height: 60px;
  border-radius: 7px;
  background-color: #efefef;
}

button#changePassword.disabled {
  cursor: default;
  color: #666;
  transition: opacity 0.3s; /* Transition should take 0.3s */
  -webkit-transition: opacity 0.3s; /* Transition should take 0.3s */
  opacity: 0.3; /* Set opacity to 1 */
}

.pw-toggle-wrapper button.disabled {
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #666;
  border: 1px solid #000;
  cursor: default;
}

.pw-toggle-wrapper p {
  cursor: default;
}

button.icon-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.9rem;
  cursor: pointer;
}

button.icon-button.disabled {
  color: #666;
  cursor: default;
}

.actions button.close-actions {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: auto;
  position: relative;
  background-color: #000000bb;
  border-radius: 6px;
  height: 400px;
}

.setting-cont{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 50;
}

.actions::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000077;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
}

.actions.no-show {
  height: 0;
  opacity: 0;
  box-shadow: none;
}

.setting-cont.no-show {
  display: none;
}

.phone-col{
  width: 60%;
  margin: 0 auto;
  height: 90%;

}

.clock{
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 15%;
  margin-top: 18%;
}

.app-cont{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr, 1fr;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-items: center;
  margin-top: 0px;
  height: 50%;
  
}

.main-screen{
  background-image: url("../Media/unlock-screen-wallpaper.jpg");
  background-position: center;
  background-size: cover;
}

.app-bar{
  display: flex;
  width: 100%;
  margin-top: 8%;
  justify-content: center;
  align-items: center;
}
.app-bar img{
  margin-right: 5%;
  margin-left: 5%;
}

.home-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
/* TODO: Style main-screen */
